<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="CONTROLLERS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>Logs/controllers.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %-5level --- [%thread] %-60logger : %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>DatingApp-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <logger name="iob.controllers" level="TRACE" additivity="false">
        <!--        <appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="CONTROLLERS_FILE"/>
    </logger>
    <logger name="iob.logic.exceptions" level="WARN" additivity="false">
        <!--        <appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="CONTROLLERS_FILE"/>
    </logger>
</configuration>